.red {
	color: red;
}
.bold {
	font-weight: bold;
}
.header button {
	background-color: green;
	color: white;
	padding: 8px;
	font-size: inherit;
	cursor: pointer;
	border: 1px solid blue;
}
.header button:hover {
	background-color: lightgreen;
	color: black;
}
.header button.red {
	background-color: red;
}
.header button.red:hover {
	background-color: salmon;
}
